@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #78c7fc;
  --color-primary-dark: #3b82f6;
  --color-primary-light: #e0f2fe;

  --color-bg-dark: #111827;
  --color-surface: #1f2937;

  --color-text-main: #f9fafb;
  --color-text-muted: #9ca3af;

  /* FONT FAMILY */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
