@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* --color-primary: #78c7fc;
  --color-primary-dark: #0284c7;
  --color-primary-deep: #0c4a6e;
  --color-primary-light: #e0f2fe;

  --color-bg-dark: #030712;
  --color-surface: #111827;

  --color-text-main: #f9fafb;
  --color-text-muted: #94a3b8;

  --color-text-main-dark: #0f172a;
  --color-text-muted-dark: #475569; */

  --color-primary: #38bdf8;
  --color-primary-dark: #0284c7;
  --color-primary-deep: #075985;
  --color-primary-light: #f0f9ff;

  --color-bg-dark: #020617;
  --color-surface: #0f172a;

  --color-text-main: #f8fafc;
  --color-text-muted: #64748b;

  --color-text-main-dark: #0f172a;
  --color-text-muted-dark: #334155;

  /* FONT FAMILY */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
