@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@100..900&display=swap");
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  /* Primary Lime Green */
  --color-primary: #a7d129;
  --color-primary-dark: #86aa21;
  --color-primary-light: #d4f08c;

  /* Neutral Colors (Dark Mode Feel) */
  --color-bg-dark: #1a1b1e;
  --color-surface: #2c2e33;

  /* Text Colors */
  --color-text-main: #f8f9fa;
  --color-text-muted: #a1a1aa;

  /* FONT FAMILY */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
